<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="navigacija.html :: headerfiles">
    <meta charset="UTF-8">
    <title>Administrator</title>
</head>
<body style="background-color: #cce6ff; font-family: 'Open sans', sans-serif;color: white;">
<header th:insert="navigacija.html :: nav"></header>
<div class="container">
    <form th:action="@{/administriranjeClanova}" th:object="${korisnik}" method="post" th:align="center">
        <table class="table">
            <thead class="table-striped" style="font-family: 'Open sans', sans-serif;border-bottom: 3px solid black!important;">
            <tr style="font-weight: bold; font-size: larger">
               <th scope="col">Ime</th>
               <th scope="col">Prezime</th>
               <th scope="col">Email</th>
               <th scope="col">Izmene</th>
               <th scope="col">Brisanje</th>
            </tr>
            </thead>
            <tbody style="border: 1px solid black!important;">
            <tr th:each="korisnik : ${korisnik}" th:if="${(korisnik.tipKorisnika == 'KORISNIK')}" style="border: 1px solid black!important;">
                <td  style="border: 1px solid black!important; text-align: center; vertical-align: middle;" th:text="${korisnik.ime}"></td>
                <td  style="border: 1px solid black!important; text-align: center; vertical-align: middle;" th:text="${korisnik.prezime}"></td>
                <td  style="border: 1px solid black!important; text-align: center; vertical-align: middle;" th:text="${korisnik.email}"></td>
                <td  style="border: 1px solid black!important; text-align: center; vertical-align: middle;">
                    <a class="btn btn-primary" style="padding: 10px; font-size: 15px; color: white; border: none; border-radius: 5px;" th:href="@{/korisnici/update/{korisnik_id}(korisnik_id=${korisnik.korisnikId})}">Izmeni</a>
                </td>
                <td  style="border: 1px solid black!important; text-align: center; vertical-align: middle;">
                    <a class="btn btn-danger" style="padding: 10px; font-size: 15px; color: white; border: none; border-radius: 5px;" th:href="@{/korisnici/delete/{korisnik_id}(korisnik_id=${korisnik.korisnikId})}">Obriši</a>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
<footer th:insert="footer"></footer>
</html>