<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="navigacija.html :: headerfiles">
    <meta charset="UTF-8">
    <title>Administrator</title>
</head>
<body style="background-color: #E5F0FF;">
<header th:insert="navigacija.html :: nav"></header>
<div class="container">
    <form th:action="@{/administriranjeClanova}" th:object="${korisnik}" method="post" th:align="center">
        <table class="table table-bordered" style="border: 1px solid white!important;">
            <thead style="border: 1px solid white!important;">
            <tr  style="border: 1px solid white!important;">
                <th style="border: 1px solid white!important;">Ime</th>
                <th style="border: 1px solid white!important;">Prezime</th>
                <th style="border: 1px solid white!important;">Email</th>
                <th style="border: 1px solid white!important;">Izmene</th>
                <th style="border: 1px solid white!important;">Brisanje</th>
            </tr>
            </thead>
            <tbody style="border: 1px solid white!important;">
            <tr th:each="korisnik : ${korisnik}" th:if="${(korisnik.tipKorisnika == 'KORISNIK')}" style="border: 1px solid white!important;">
                <td  style="border: 1px solid white!important; text-align: center; vertical-align: middle;" th:text="${korisnik.ime}"></td>
                <td  style="border: 1px solid white!important; text-align: center; vertical-align: middle;" th:text="${korisnik.prezime}"></td>
                <td  style="border: 1px solid white!important; text-align: center; vertical-align: middle;" th:text="${korisnik.email}"></td>
                <td  style="border: 1px solid white!important; text-align: center; vertical-align: middle;">
                    <a class="btn btn-primary" style="padding: 10px; font-size: 15px; color: white; border: none; border-radius: 5px;" th:href="@{/korisnici/update/{korisnik_id}(korisnik_id=${korisnik.korisnikId})}">Izmeni</a>
                </td>
                <td  style="border: 1px solid white!important; text-align: center; vertical-align: middle;">
                    <a class="btn btn-danger" style="padding: 10px; font-size: 15px; color: white; border: none; border-radius: 5px;" th:href="@{/korisnici/delete/{korisnik_id}(korisnik_id=${korisnik.korisnikId})}">Obriši</a>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
<footer th:insert="footer"></footer>
</html>