<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:insert="navigacija.html :: headerfiles">
    <meta charset="UTF-8">
    <title>Novi bioskop</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div style="margin: 0px; padding: 0px;">
    <body style="background-color: #cce6ff; font-family: 'Open sans', sans-serif;">
    <header th:insert="navigacija.html :: nav"></header>
    <div class="header" style="width: 30%; margin: 50px auto 0px;  color: white; background: #4c60af; text-align: center;  border: 1px solid #B0C4DE; border-bottom: none;
border-radius: 10px 10px 0px 0px; padding: 20px; font-family: 'Open Sans', sans-serif;font-size: 120%;">
        <h2>Izmena filmova</h2>
    </div>
    <form autocomplete="off" th:action="@{/izmenaFilmova/{film_id}(film_id=${film.getFilmId()})}" th:object="${film}" method="post" align="center"
          style="width: 30%; margin: 0px auto; padding: 20px; border: 1px solid #B0C4DE; background: white; border-radius: 0px 0px 10px 10px;font-family: 'Open Sans', sans-serif;font-size: 120%;">
        <div class="input-group" style="margin: 10px 0px 10px 0px; font-family: 'Open Sans', sans-serif;" >
            <label style="display: block; text-align: left; margin: 3px;">Naziv bioskopa</label><br>
            <input th:field="*{nazivFilma}" th:placeholder="${film.getNazivFilma()}" class="form-control" required
                   oninvalid="this.setCustomValidity('Ovo polje je obavezno')"
                   oninput="this.setCustomValidity('')" onautocomplete="this.setCustomValidity('')"
                   onchange="this.setCustomValidity('')" style="height: 30px; width: 93%; padding: 5px 10px; font-size: 16px; border-radius: 5px; border: 1px solid gray; font-family: 'Open Sans', sans-serif;">
        </div>
        <div class="input-group" style="margin: 10px 0px 10px 0px; font-family: 'Open Sans', sans-serif;">
            <label style="display: block; text-align: left; margin: 3px; font-family: 'Open Sans', sans-serif;">Žanr</label><br>
            <input th:field="*{zanr}" th:placeholder="${film.getZanr()}" class="form-control" required
                   oninvalid="this.setCustomValidity('Ovo polje je obavezno')"
                   oninput="this.setCustomValidity('')" onautocomplete="this.setCustomValidity('')"
                   onchange="this.setCustomValidity('')" style="height: 30px; width: 93%; padding: 5px 10px; font-size: 16px; border-radius: 5px; border: 1px solid gray; font-family: 'Open Sans', sans-serif;">
        </div>
        <div class="input-group" style="margin: 10px 0px 10px 0px; font-family: 'Open Sans', sans-serif;" >
            <label style="display: block; text-align: left; margin: 3px;">Tehnologija</label><br>
            <select th:field="*{tehnologija}" style="height: 30px; width: 100%; padding: 5px 10px; font-size: 16px; border-radius: 5px; border: 1px solid gray; font-family: 'Open Sans', sans-serif;">
                <div th:each="film:${film}">
                    <option th:text="${film.getTehnologija()}" th:value="${film.getTehnologija()}" th:placeholder="${film.getTehnologija()}" ></option>
                </div>
            </select>
        </div>
        <div class="input-group" style="margin: 10px 0px 10px 0px; font-family: 'Open Sans', sans-serif;">
            <label style="display: block; text-align: left; margin: 3px; font-family: 'Open Sans', sans-serif;">Trajanje</label><br>
            <input th:field="*{trajanje}" th:placeholder="${film.getTrajanje()}" class="form-control" required type="number"
                   oninvalid="this.setCustomValidity('Ovo polje je obavezno')"
                   oninput="this.setCustomValidity('')" onautocomplete="this.setCustomValidity('')"
                   onchange="this.setCustomValidity('')" style="height: 30px; width: 93%; padding: 5px 10px; font-size: 16px; border-radius: 5px; border: 1px solid gray; font-family: 'Open Sans', sans-serif;">
        </div>
        <div class="input-group" style="margin: 10px 0px 10px 0px; font-family: 'Open Sans', sans-serif;">
            <label style="display: block; text-align: left; margin: 3px; font-family: 'Open Sans', sans-serif;">Opis</label><br>
            <input th:field="*{opis}" th:placeholder="${film.getOpis()}" class="form-control" required type="url"
                   oninvalid="this.setCustomValidity('Ovo polje je obavezno')"
                   oninput="this.setCustomValidity('')" onautocomplete="this.setCustomValidity('')"
                   onchange="this.setCustomValidity('')" style="height: 30px; width: 93%; padding: 5px 10px; font-size: 16px; border-radius: 5px; border: 1px solid gray; font-family: 'Open Sans', sans-serif;">
        </div>
        <div class="input-group" style="margin: 10px 0px 10px 0px; font-family: 'Open Sans', sans-serif;">
            <label style="display: block; text-align: left; margin: 3px; font-family: 'Open Sans', sans-serif;">Trailer</label><br>
            <input th:field="*{trailer}" th:placeholder="${film.getTrailer()}" class="form-control" required type="url"
                   oninvalid="this.setCustomValidity('Ovo polje je obavezno')"
                   oninput="this.setCustomValidity('')" onautocomplete="this.setCustomValidity('')"
                   onchange="this.setCustomValidity('')" style="height: 30px; width: 93%; padding: 5px 10px; font-size: 16px; border-radius: 5px; border: 1px solid gray; font-family: 'Open Sans', sans-serif;">
        </div>
        <span th:text="${msg}"></span>
        <div>
            <div class="input-group" style="margin: 10px 0px 10px 0px; font-family: 'Open Sans', sans-serif;">
                <input type="submit" class="btn" value="Izmenite film" style="padding: 10px; font-size: 15px; color: white; background: #4c60af; border: none; border-radius: 5px; margin-left: 180px; font-family: 'Open Sans', sans-serif;">
            </div>
        </div>
    </form>
    </body>
</div>
<footer th:insert="footer"></footer>
</html>