<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="navigacija.html :: headerfiles">
    <meta charset="UTF-8">
    <title>Logovanje</title>
</head>
<div style="margin: 0px;padding: 0px;">
<body style="font-size: 120%; background: #E5F0FF; font-family: 'Open Sans', sans-serif;">
<header th:insert="navigacija.html :: nav"></header>
<div class="header" style="width: 30%; margin: 50px auto 0px; color: white; background: #4c60af; text-align: center; border: 1px solid #B0C4DE; border-bottom: none; border-radius: 10px 10px 0px 0px; padding: 20px;">
    <h2>Ulogujte se</h2>
</div>
<form name="form"  action="#" th:action="@{/login}" method="post" align="center" style="width: 30%;margin: 0px auto;padding: 20px;border: 1px solid #B0C4DE;background: white; border-radius: 0px 0px 10px 10px;">
    <div class="input-group" style="margin: 10px 0px 10px 0px;">
        <label for="email" style=" display: block; text-align: left;margin: 3px;">Email</label><br>
        <input type="text" id="email" name="username" style="height: 30px; width: 100%; padding: 5px 10px; font-size: 16px;border-radius: 5px; border: 1px solid gray;"><br>
    </div>
    <div class="input-group" style="margin: 10px 0px 10px 0px;">
        <label for="sifra" style=" display: block; text-align: left;margin: 3px;">Šifra</label><br>
        <input type="password" id="sifra" name="password" style="height: 30px; width: 100%; padding: 5px 10px; font-size: 16px;border-radius: 5px; border: 1px solid gray;"><br>
    </div>
    <div class="input-group" style="margin: 10px 0px 10px 0px;">
        <button type="submit" class="btn" value="log" name="login" style="padding: 10px; font-size: 15px; color: white; background: #4c60af; border: none; border-radius: 5px; margin-left: 200px;">Ulogujte se</button>
    </div>
    <div th:if="${param.error}" class="alert alert-error">
        Neispravno korisničko ime ili šifra.
    </div>
    <div th:if="${param.logout}" class="alert alert-success">
        Izlogovali ste se.
    </div>
</form>
</body>
</div>
</html>