<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="navigacija.html :: headerfiles">
    <meta charset="UTF-8">
    <title>Moje rezervacije</title>
</head>
<body style="font-family: 'Open sans', sans-serif;">
<header th:insert="navigacija.html :: nav"></header><pre style="margin-bottom: 3px"></pre>
<div align="center" class="text-white bg-dark">
    <form th:action="@{/mojeRezervacije}" method="post" th:align="center">
    <h2 th:text="${k.getIme() + ' ' + k.getPrezime()}" align="center" class="text-white bg-dark"></h2>
        <table class="table table-bordered table-dark" style="table-layout:auto;">
            <thead style="text-align: center; vertical-align: middle;">
            <tr>
                <th  style="text-align: center; vertical-align: middle;">Grad</th>
                <th  style="text-align: center; vertical-align: middle;">Naziv filma</th>
                <th  style="text-align: center; vertical-align: middle;">Žanr</th>
                <th  style="text-align: center; vertical-align: middle;">Tehnologija</th>
                <th  style="text-align: center; vertical-align: middle;">Trajanje</th>
                <th  style="text-align: center; vertical-align: middle;">Datum projekcije</th>
                <th  style="text-align: center; vertical-align: middle;">Početak projekcije</th>
                <th  style="text-align: center; vertical-align: middle;">Kraj projekcije</th>
                <th  style="text-align: center; vertical-align: middle;">Broj sale</th>
                <th  style="text-align: center; vertical-align: middle;">Sedište</th>
                <th  style="text-align: center; vertical-align: middle;">Cena karte</th>
                <th  style="text-align: center; vertical-align: middle;">Potvrda rezervacije</th>
                <th  style="text-align: center; vertical-align: middle;">Korišćenje poena</th>
                <th  style="text-align: center; vertical-align: middle;">Otkazivanje rezervacije</th>
            </tr>
            </thead>
            <tbody  style="text-align: center; vertical-align: middle;">
            <tr th:each="rezervisanoSediste : ${rezervisanaSedistaSet}">
                <div th:if="${rezervisanoSediste.getRezervacija().getProjekcija().getKrajProjekcije().isAfter(trenutno)}">
                <td  style="text-align: center; vertical-align: middle;" th:text="${rezervisanoSediste.getRezervacija().getProjekcija().getSala().getBioskop().getGrad()}"></td>
                <td  style="text-align: center; vertical-align: middle;" th:text="${rezervisanoSediste.getRezervacija().getProjekcija().getFilm().getNazivFilma()}"></td>
                <td  style="text-align: center; vertical-align: middle;" th:text="${rezervisanoSediste.getRezervacija().getProjekcija().getFilm().getZanr()}"></td>
                <td  style="text-align: center; vertical-align: middle;" th:text="${rezervisanoSediste.getRezervacija().getProjekcija().getFilm().getTehnologija()}"></td>
                <td  style="text-align: center; vertical-align: middle;" th:text="${rezervisanoSediste.getRezervacija().getProjekcija().getFilm().getTrajanje()} + ' minuta'"></td>
                <td  style="text-align: center; vertical-align: middle;" th:text="${#temporals.format(rezervisanoSediste.getRezervacija().getProjekcija().getPocetakProjekcije(), 'dd-MM-yyyy')}"></td>
                <td  style="text-align: center; vertical-align: middle;" th:text="${#temporals.format(rezervisanoSediste.getRezervacija().getProjekcija().getPocetakProjekcije().toLocalTime(), 'HH:mm') + 'h'}"></td>
                <td  style="text-align: center; vertical-align: middle;" th:text="${#temporals.format(rezervisanoSediste.getRezervacija().getProjekcija().getKrajProjekcije().toLocalTime(), 'HH:mm') + 'h'}"></td>
                <td  style="text-align: center; vertical-align: middle;" th:text="${rezervisanoSediste.getRezervacija().getProjekcija().getSala().getBrojSale()}"></td>
                <td  style="text-align: center; vertical-align: middle;" th:text="${rezervisanoSediste.getSediste().getBrojSedista()}"></td>
                <div th:if="${rezervisanoSediste.getCenaKarte()==0}">
                    <td  style="text-align: center; vertical-align: middle;">Ulaz besplatan!</td>
                </div>
                <div th:unless="${rezervisanoSediste.getCenaKarte()==0}">
                    <td  style="text-align: center; vertical-align: middle;" th:text="${rezervisanoSediste.getCenaKarte() + ' RSD'}"></td>
                </div>
                <div th:if="${rezervisanoSediste.getRezervacija().getPotvrdjena()==true}">
                    <td style="text-align: center; vertical-align: middle;">Rezervacija je potvrđena!</td>
                    <div th:if="${k.getPoeni()>0}">
                        <div th:if="${rezervisanoSediste.getCenaKarte()!=0}">
                            <td  style="text-align: center; vertical-align: middle;">
                                <a class="btn btn-info" th:href="@{/mojeRezervacije/poeni/{sediste_id}(sediste_id=${rezervisanoSediste.getSediste().getSedisteId()})}">Iskoristi</a>
                            </td>
                        </div>
                        <div th:unless="${rezervisanoSediste.getCenaKarte()!=0}">
                            <td  style="text-align: center; vertical-align: middle;">Već imate besplatnu ulaznicu!</td>
                        </div>
                    </div>
                    <div th:unless="${k.getPoeni()>0}">
                        <td style="text-align: center; vertical-align: middle;">Nemate poena!</td>
                    </div>
                </div>
                <div th:unless="${rezervisanoSediste.getRezervacija().getPotvrdjena()==true}">
                    <td  style="text-align: center; vertical-align: middle;">
                        <a class="btn btn-primary" th:href="@{/mojeRezervacije/potvrdi/{rezervacija_id}(rezervacija_id=${rezervisanoSediste.getRezervacija().getRezervacijaId()})}">Potvrdi</a>
                    </td>
                    <div th:if="${k.getPoeni()>0}">
                        <td style="text-align: center; vertical-align: middle;">Da biste iskoristili poene, potrebno je da potvrdite rezervaciju!</td>
                    </div>
                    <div th:unless="${k.getPoeni()>0}">
                        <td style="text-align: center; vertical-align: middle;">Nemate poena!</td>
                    </div>
                </div>
                <td  style="text-align: center; vertical-align: middle;">
                    <a class="btn btn-danger" th:href="@{/mojeRezervacije/delete/{rezervacija_id}(rezervacija_id=${rezervisanoSediste.getRezervacija().getRezervacijaId()})}">Otkaži</a>
                </td>
                </div>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
<footer class="fixed-bottom" th:insert="footer"></footer>
</html>