<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="navigacija.html :: headerfiles">
    <meta charset="UTF-8">
    <title>Unos nove projekcije</title>
</head>
<div style="margin: 0px; padding: 0px;">
    <body style="background-color: #E5F0FF;" >
    <header th:insert="navigacija.html :: nav"></header>
    <div class="header" style="width: 30%; margin: 50px auto 0px;  color: white; background: #4c60af; text-align: center;  border: 1px solid #B0C4DE; border-bottom: none;
border-radius: 10px 10px 0px 0px; padding: 20px; font-family: 'Open Sans', sans-serif;font-size: 120%;">
        <h2>Unos nove projekcije</h2>
    </div>
    <form action="#" th:action="@{/novaProjekcija}" method="post" align="center"
          style="width: 30%; margin: 0px auto; padding: 20px; border: 1px solid #B0C4DE; background: white; border-radius: 0px 0px 10px 10px;font-family: 'Open Sans', sans-serif;font-size: 120%;">
        <div class="input-group" style="margin: 10px 0px 10px 0px; font-family: 'Open Sans', sans-serif;" >
            <label style="display: block; text-align: left; margin: 3px;">Naziv filma</label><br>
            <select class="form-control" name="film"  style="height: 40px; width: 100%; padding: 5px 10px; font-size: 16px; border-radius: 5px; border: 1px solid gray; font-family: 'Open Sans', sans-serif;">
                <div th:each="film:${film}">
                    <option th:text="${film.getNazivFilma()}" th:value="${film.getFilmId()}"></option>
                </div>
            </select>
        </div>
       <div class="input-group" style="margin: 10px 0px 10px 0px; font-family: 'Open Sans', sans-serif;">
            <label style="display: block; text-align: left; margin: 3px; font-family: 'Open Sans', sans-serif;">Pocetak projekcije</label><br>
            <input class="form-control" type="datetime-local" name="pocetakProjekcije" required style="height: 30px; width: 93%; padding: 5px 10px; font-size: 16px; border-radius: 5px; border: 1px solid gray; font-family: 'Open Sans', sans-serif;">
        </div>

        <div class="input-group" style="margin: 10px 0px 10px 0px; font-family: 'Open Sans', sans-serif;" >
            <label style="display: block; text-align: left; margin: 3px;">Broj sale</label><br>
            <select name="sala" style="height: 30px; width: 100%; padding: 5px 10px; font-size: 16px; border-radius: 5px; border: 1px solid gray; font-family: 'Open Sans', sans-serif;">
                <div th:each="sala:${sala}">
                    <option th:text="${sala.getBrojSale()}" th:value="${sala.getSalaId()}"></option>
                </div>
            </select>
        </div>

        <div class="input-group" style="margin: 10px 0px 10px 0px; font-family: 'Open Sans', sans-serif;">
            <input type="submit" class="btn" value="Unesite novu projekciju" style="padding: 10px; font-size: 15px; color: white; background: #4c60af; border: none; border-radius: 5px; margin-left: 200px; font-family: 'Open Sans', sans-serif;">
        </div>
        <span th:utext="${msg}"></span>
    </form>
    </body>
</div>
<footer th:insert="footer"></footer>
</html>