<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:insert="navigacija.html :: headerfiles">
    <meta charset="UTF-8">
    <title>Novi bioskop</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div style="margin: 0px; padding: 0px;">
    <body style="font-size: 120%; background-color: #E5F0FF; font-family: 'Open Sans', sans-serif;" >
    <header th:insert="navigacija.html :: nav"></header>
    <div class="header" style="width: 30%; margin: 50px auto 0px;  color: white; background: #4c60af; text-align: center;  border: 1px solid #B0C4DE; border-bottom: none;
border-radius: 10px 10px 0px 0px; padding: 20px; font-family: 'Open Sans', sans-serif;">
        <h2>Novi bioskop</h2>
    </div>
    <form autocomplete="off" th:action="@{/dodavanjeBioskopa}" th:object="${bioskop}" method="post" align="center"
          style="width: 30%; margin: 0px auto; padding: 20px; border: 1px solid #B0C4DE; background: white; border-radius: 0px 0px 10px 10px;">
        <div class="input-group" style="margin: 10px 0px 10px 0px; font-family: 'Open Sans', sans-serif;" >
            <label style="display: block; text-align: left; margin: 3px;">Naziv bioskopa</label><br>
            <input th:field="*{naziv}" placeholder="Naziv" class="form-control" required
                   oninvalid="this.setCustomValidity('Ovo polje je obavezno')"
                   oninput="this.setCustomValidity('')" onautocomplete="this.setCustomValidity('')"
                   onchange="this.setCustomValidity('')" style="height: 30px; width: 93%; padding: 5px 10px; font-size: 16px; border-radius: 5px; border: 1px solid gray; font-family: 'Open Sans', sans-serif;">
        </div>
        <div class="input-group" style="margin: 10px 0px 10px 0px; font-family: 'Open Sans', sans-serif;">
            <label style="display: block; text-align: left; margin: 3px; font-family: 'Open Sans', sans-serif;">Adresa</label><br>
            <input th:field="*{adresa}" placeholder="Adresa" class="form-control" required
                   oninvalid="this.setCustomValidity('Ovo polje je obavezno')"
                   oninput="this.setCustomValidity('')" onautocomplete="this.setCustomValidity('')"
                   onchange="this.setCustomValidity('')" style="height: 30px; width: 93%; padding: 5px 10px; font-size: 16px; border-radius: 5px; border: 1px solid gray; font-family: 'Open Sans', sans-serif;">
        </div>
        <div class="input-group" style="margin: 10px 0px 10px 0px; font-family: 'Open Sans', sans-serif;">
            <label style="display: block; text-align: left; margin: 3px; font-family: 'Open Sans', sans-serif;">Grad</label><br>
            <input type="text" th:field="*{grad}" placeholder="Grad" class="form-control" required
                   oninvalid="this.setCustomValidity('Ovo polje je obavezno')"
                   oninput="this.setCustomValidity('')" onautocomplete="this.setCustomValidity('')"
                   onchange="this.setCustomValidity('')" style="height: 30px; width: 93%; padding: 5px 10px; font-size: 16px; border-radius: 5px; border: 1px solid gray; font-family: 'Open Sans', sans-serif;">
        </div>
        <div>
            <div class="input-group" style="margin: 10px 0px 10px 0px; font-family: 'Open Sans', sans-serif;">
                <input type="submit" class="btn" value="Dodajte novi bioskop" style="padding: 10px; font-size: 15px; color: white; background: #4c60af; border: none; border-radius: 5px; margin-left: 180px; font-family: 'Open Sans', sans-serif;">
            </div>
            <span th:utext="${poruka}">
            <div class="alert alert-success alert-dismissible col-sm-12"
                 th:if="${(bindingResult!=null && bindingResult.getAllErrors() != null)}">
                <ul th:each="data : ${bindingResult.getAllErrors()}">
                    <li th:text="${data.getObjectName() + ' :: ' + data.getDefaultMessage()}">
                    </li>
                </ul>
            </div>
            </span>
        </div>
    </form>
    </body>
</div>
<footer th:insert="footer"></footer>
</html>