<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="navigacija.html :: headerfiles">
    <meta charset="UTF-8">
    <title>O nama</title>
</head>
<body style="background-color: #cce6ff; font-family: 'Open sans', sans-serif;color: black;  margin: 0 auto;">
<header th:insert="navigacija.html :: nav"></header><pre style="margin-top: 1px;"></pre>
<h1 style="text-align: center;font-size: 50px;color: white; background-color: #4c60af;">O nama</h1>
<h2 style="text-decoration: underline;"><strong>Ko smo mi?</strong></h2>
<p>Mi smo lanac bioskopa koji Vam donosi premijere holivudskih ostvarenja.</p>
<p>Naši bioskopi opremljeni su najnovijom tehnologijom</p>
<p>Uz najnovija filmska ostvarenja osvežite se nekim od proizvoda iz našeg asortimana pića i grickalica.</p>
<h2 style="text-decoration: underline;">Naš tim</h2>
<p>Naš tim čine mladi ljudi puni znanja o kinematografiji.<br>Oni su stručnjaci za različite žanrove, uvek spremni da pomognu drugima. Entuzijazam i želja za napredovanjem su nešto što ih krasi od samog početka.</p>
<address style="text-align: right;margin-right: 50px;position: relative;padding-top: 10px;">
    <strong>Bioskop Pixel</strong><br>
    Vlade Zečevića 25, <br>
    14000 Valjevo, Srbija<br>
    <abbr title="kontakt-telefon">Kontakt telefon:</abbr>+381 65 548 12 09
</address>
<address class="mailInfo" style="text-align: right;margin-right: 50px;position: relative;padding-top: 10px;">
    <strong>Anđelka Džida</strong><br>
    <a href="mailto:andjelkadzida@gmail.com">andjelkadzida@gmail.com</a><br>
    <a href="mailto:as.bioskop@gmail.com">as.bioskop@gmail.com</a>
</address>
</body>
<footer th:insert="footer"></footer>
</html>