<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:insert="navigacija.html :: headerfiles">
    <meta charset="UTF-8">
    <title>Početna</title>
</head>
<body style="background-color: #343a40;">
<header th:insert="navigacija.html :: nav"></header>
<!-- carousel -->
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" style="height: 1185px">
            <img  class="d-block w-100" src="../static/images/pocetna.jpg" alt="..." th:src="@{images/pocetna.jpg}">
        </div>
    </div>
</div>
<!-- kraj carousel -->
<div style="background-color: #343a40; text-align: center;">
    <h5 style="background-color: #343a40; color: white; text-align: center">Bioskop Pixel je predstavlja lanac inovativnih bioskopa!</h5>
    <h5 style="background-color: #343a40; color: white; text-align: center">Našim najvernijim posetiocima smo obezbedili specijalne klubove i popuste pri kupovini karata.</h5>
    <h5 style="background-color: #343a40; color: white; text-align: center">Svakog člana kluba očekuje mogućnost rezervacije specijalnih sedišta!</h5>
    <h5 style="background-color: #343a40; color: white; text-align: center">Obezbedite svoje mesto na vreme!</h5>
    <h5 style="background-color: #343a40; color: white; text-align: center">Želimo vam prijatan boravak!</h5>
    <h5 style="background-color: #343a40; color: white; text-align: center">Vaš bioskop <b>Pixel</b></h5><pre></pre>
    <footer th:insert="footer"></footer>
</div>
</body>
</html>