<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="navigacija.html :: headerfiles">
    <meta charset="UTF-8">
    <title>Politika privatnosti</title>
</head>
<body style="background-color: #cce6ff; font-family: 'Open sans', sans-serif;color: black;  margin: 0 auto;">
<header th:insert="navigacija.html :: nav"></header><pre style="margin-top: 1px;"></pre>
<h1 style="text-align: center;font-size: 50px;color: white; background-color: #4c60af;">Politika privatnosti</h1>
<h2 style="text-decoration: underline;">Prikupljanje podataka</h2>
<p>Bioskop Pixel (u daljem tekstu bioskop) čuva podatke svojih korisnika koje oni ostave pri registraciji na isti.</p>
<p>Podaci koje sajt može prikupiti su operativni sistem korisnika, kao i podaci o browseru koji se koristi. Osim toga, sajt može prikupiti podatke o Vašoj lokaciji (u slučaju da vam je ista uključena). Prikupljeni podaci koriste se <strong>isključivo u svrhu analitike</strong>.</p>
<h2 style="text-decoration: underline;">Podaci ostavljeni prilikom registracije</h2>
<p>Prilikom registracije na platformu, potrebno je da ostavite sledeće lične podatke:</p>
<ul>
    <li>Ime</li>
    <li>Prezime</li>
    <li>E-mail adresa</li>
</ul>
<p>Ovi podaci su neophodni, kako biste mogli da izvršite rezervaciju karata.</p>
<h2 style="text-decoration: underline;">Prava korisnika</h2>
<p>Korisnici bioskopa imaju potpunu kontrolu nad svojim podacima. U svakom trenutku mogu izmeniti svoje lične podatke (osim e-mail adrese) na sajtu. Ažurirani podaci će biti odmah vidiljivi.</p>
<p>Kao korisnik bioskopa, u svakom trenutku možete izbrisati Vaš korisnčki nalog, u slučaju da to želite.</p>
<h2 style="text-decoration: underline;">Izmena politike privatnosti</h2>
<p>Administratori bioskopa zadržavaju pravo promene politike privatnosti, bez prethodne najave korisnicima. U slučaju promene politike privatnosti, korisnici će biti obavešteni na mail ili prilikom sledećeg logovanja na istu. Ukoliko se korisnici ne slažu sa novom politikom privatnosti, potrebnoo je da o istom obaveste administratore putem e-mail adrese: <b><a href="mailto:as.bioskop@gmail.com">as.bioskop@gmail.com</a></b></p>
<h2 style="text-decoration: underline;">Izmena projekcije</h2>
<p>Administratori bioskopa zadržavaju pravo da dodaju nove filmove, projekcije na sajt, kao i da menjaju ili brišu postojeće, bez prethodne najave korisnicima. Administratori se obavezuju da će blagovremeno obavestiti korisnike o promenama cena samih karata.</p>
<strong>U slučaju da imate bilo kakvu nedoumicu vezano za politiku privatnosti, molimo Vas kontaktirajte nas putem e-maila: <a href="mailto:as.bioskop@gmail.com">as.bioskop@gmail.com</a>.</strong><br>
</body>
<footer th:insert="footer"></footer>
</html>