<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:insert="navigacija.html :: headerfiles">
    <meta charset="UTF-8">
    <title>Pregled projekcija</title>
</head>
<body style="background-color: #cce6ff; font-family: 'Open sans', sans-serif;color: white;">
<header th:insert="navigacija.html :: nav"></header>
<div>
    <form th:action="@{/pregledProjekcijaAdmin/{film}}" th:object="${projekcija}" method="post" th:align="center">
        <table class="table">
            <thead class="table-striped" style="font-family: 'Open sans', sans-serif;border-bottom: 3px solid black!important;">
            <tr style="font-weight: bold; font-size: larger">
                <th scope="col">Naslov filma</th>
                <th scope="col">Grad</th>
                <th scope="col">Datum projekcije</th>
                <th scope="col">Početak projekcije</th>
                <th scope="col">Kraj projekcije</th>
                <th scope="col">Broj sale</th>
                <th scope="col">Izmena projekcija</th>
                <th scope="col">Otkazivanje projekcija</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="projekcija : ${projekcija}">
                <td  style="border: 1px solid black!important; text-align: center; vertical-align: middle;" th:text="${projekcija.getFilm().getNazivFilma()}"></td>
                <td  style="border: 1px solid black!important; text-align: center; vertical-align: middle;" th:text="${projekcija.getSala().getBioskop().getGrad()}"></td>
                <td  style="border: 1px solid black!important; text-align: center; vertical-align: middle;" th:text="${#temporals.format(projekcija.getPocetakProjekcije().toLocalDate(), 'dd-MM-yyyy')}"></td>
                <td  style="border: 1px solid black!important; text-align: center; vertical-align: middle;" th:text="${#temporals.format(projekcija.getPocetakProjekcije().toLocalTime(), 'HH:mm') + 'h'}"></td>
                <td  style="border: 1px solid black!important; text-align: center; vertical-align: middle;" th:text="${#temporals.format(projekcija.getKrajProjekcije().toLocalTime(), 'HH:mm') + 'h'}"></td>
                <td  style="border: 1px solid black!important; text-align: center; vertical-align: middle;" th:text="${projekcija.getSala().getBrojSale()}"></td>
                <td  style="border: 1px solid black!important; text-align: center; vertical-align: middle;">
                    <a style="position: center" class="btn btn-primary" th:href="@{/izmenaProjekcija/{projekcijaId}(projekcijaId=${projekcija.getProjekcijaId()})}">Izmeni</a>
                </td>
                <td  style="border: 1px solid black!important; text-align: center; vertical-align: middle;">
                    <a style="position: center; color: white" class="btn btn-danger" th:href="@{/otkazivanjeProjekcija/{id}(id=${projekcija.getProjekcijaId()})}">Otkaži</a>
                </td>
                <input type="hidden" name="film" th:value="${projekcija.getFilm().getFilmId()}">
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
<footer class="fixed-bottom" th:insert="footer"></footer>
</html>