<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="navigacija.html :: headerfiles">
    <meta charset="UTF-8">
    <title>Pregled filmova</title>
</head>
<body style="background-color: #cce6ff; font-family: 'Open sans', sans-serif;color: white;">
<header th:insert="navigacija.html :: nav"></header>
<div>
    <form th:action="@{/pregledFilmova}" th:object="${film}" method="post" th:align="center">
        <table class="table">
            <thead class="table-striped" style="font-family: 'Open sans', sans-serif;border-bottom: 3px solid black!important;">
            <tr style="font-weight: bold; font-size: larger">
               <th scope="col">Naslov</th>
               <th scope="col">Žanr</th>
               <th scope="col">Tehnologija</th>
               <th scope="col">Trajanje</th>
               <th scope="col">Detalji</th>
               <th scope="col">Trailer</th>
               <th scope="col">Projekcije filma</th>
               <th scope="col">Novi film</th>
               <th scope="col">Izmena filma</th>
               <th scope="col">Brisanje filma</th>
            </tr>
            </thead>
            <tbody style="border: 1px solid black!important;">
            <tr th:each="film : ${film}" style="border: 1px solid black!important;">
                <td th:text="${film.nazivFilma}" style="border: 1px solid black!important; text-align: center; vertical-align: middle;"></td>
                <td th:text="${film.zanr}" style="border: 1px solid black!important; text-align: center; vertical-align: middle;"></td>
                <td th:text="${film.tehnologija}" style="border: 1px solid black!important; text-align: center; vertical-align: middle;"></td>
                <td th:text="${film.trajanje} + ' minuta'" style="border: 1px solid black!important; text-align: center; vertical-align: middle;"></td>
                <td style="border: 1px solid black!important; text-align: center; vertical-align: middle;">
                    <a th:href="@{${film.opis}}" target="_blank">Detalji</a>
                </td>
                <td style="border: 1px solid black!important;">
                    <iframe th:src="@{${film.trailer}}" allowfullscreen="true"></iframe>
                </td>
                <td style="border: 1px solid black!important; text-align: center; vertical-align: middle;">
                    <a style="position: center" class="btn btn-info" th:href="@{/pregledProjekcijaAdmin/{film}(film=${film.getNazivFilma()})}">Projekcije</a>
                </td>
                <td style="border: 1px solid black!important; text-align: center; vertical-align: middle;">
                    <a style="position: center" class="btn btn-primary" th:href="@{/dodavanjeFilmova}">Dodaj</a>
                </td>
                <td style="border: 1px solid black!important; text-align: center; vertical-align: middle;">
                    <a style="position: center" class="btn btn-primary" th:href="@{/izmenaFilmova/{film_id}(film_id=${film.getFilmId()})}">Izmeni</a>
                </td>
                <td style="border: 1px solid black!important; text-align: center; vertical-align: middle;">
                    <a style="position: center" class="btn btn-danger" th:href="@{/brisanjeFilmova/{film_id}(film_id=${film.getFilmId()})}">Obriši</a>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
<footer th:insert="footer"></footer>
</html>