<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:insert="navigacija.html :: headerfiles">
    <meta charset="UTF-8">
    <title>Pregled projekcija</title>
</head>
    <body style="background-color: #E5F0FF;">
    <header th:insert="navigacija.html :: nav"></header>
    <div>
        <form th:action="@{/izborSedista}" th:object="${projekcija}" method="post" th:align="center">
            <table class="table table-bordered" style="border: 1px solid white!important;">
                <thead style="border: 1px solid white!important; text-align: center; vertical-align: middle;">
                <tr  style="border: 1px solid white!important; text-align: center; vertical-align: middle;">
                    <th>Naslov filma</th>
                    <th>Grad</th>
                    <th>Datum projekcije</th>
                    <th>Početak projekcije</th>
                    <th>Kraj projekcije</th>
                    <th>Broj sale</th>
                    <th>Rezerviši kartu</th>
                </tr>
                </thead>
                <tbody  style="border: 1px solid white!important; text-align: center; vertical-align: middle;">
                <tr  style="border: 1px solid white!important; text-align: center; vertical-align: middle;" th:each="projekcija : ${projekcija}">
                    <td  style="border: 1px solid white!important; text-align: center; vertical-align: middle;" th:text="${projekcija.getFilm().getNazivFilma()}"></td>
                    <td  style="border: 1px solid white!important; text-align: center; vertical-align: middle;" th:text="${projekcija.getSala().getBioskop().getGrad()}"></td>
                    <td  style="border: 1px solid white!important; text-align: center; vertical-align: middle;" th:text="${#temporals.format(projekcija.getPocetakProjekcije().toLocalDate(), 'dd-MM-yyyy')}"></td>
                    <td  style="border: 1px solid white!important; text-align: center; vertical-align: middle;" th:text="${#temporals.format(projekcija.getPocetakProjekcije().toLocalTime(), 'HH:mm') + 'h'}"></td>
                    <td  style="border: 1px solid white!important; text-align: center; vertical-align: middle;" th:text="${#temporals.format(projekcija.getKrajProjekcije().toLocalTime(), 'HH:mm') + 'h'}"></td>
                    <td  style="border: 1px solid white!important; text-align: center; vertical-align: middle;" th:text="${projekcija.getSala().getBrojSale()}"></td>
                    <td  style="border: 1px solid white!important; text-align: center; vertical-align: middle;">
                        <form th:action="@{/izborSedista}" method="post">
                            <input type="hidden" th:value="${projekcija.getProjekcijaId()}" name="projekcijaId">
                            <input type="submit" value="Izbor sedista" class="btn btn-primary">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    </body>
<footer th:insert="footer"></footer>
</html>