<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="navigacija.html :: headerfiles">
    <meta charset="UTF-8">
    <title>Pregled filmova</title>
</head>
<body style="background-color: #cce6ff; font-family: 'Open sans', sans-serif;color: white;">
<header th:insert="navigacija.html :: nav"></header>
<div>
    <form th:action="@{/pregledBioskopaAdmin}" th:object="${bioskop}" method="post" th:align="center">
        <table class="table">
            <thead class="table-striped" style="font-family: 'Open sans', sans-serif;border-bottom: 3px solid black!important;">
            <tr style="font-weight: bold; font-size: larger">
                <th scope="col">Naziv</th>
                <th scope="col">Grad</th>
                <th scope="col">Adresa</th>
                <th scope="col">Novi bioskop</th>
                <th scope="col">Izmene</th>
                <th scope="col">Brisanje</th>
            </tr>
            </thead>
            <tbody style="font-family: 'Open sans', sans-serif;">
            <tr th:each="bioskop : ${bioskop}"style="border: 1px solid black!important;">
                <td th:text="${bioskop.naziv}" style="border: 1px solid black!important; text-align: center; vertical-align: middle;"></td>
                <td th:text="${bioskop.grad}" style="border: 1px solid black!important; text-align: center; vertical-align: middle;"></td>
                <td th:text="${bioskop.adresa}" style="border: 1px solid black!important; text-align: center; vertical-align: middle;"></td>
                <td style="border: 1px solid black!important; text-align: center; vertical-align: middle;">
                    <a style="position: center" class="btn btn-primary" th:href="@{/dodavanjeBioskopa}">Dodaj</a>
                </td>
                <td style="border: 1px solid black!important; text-align: center; vertical-align: middle;">
                    <a style="position: center" class="btn btn-primary" th:href="@{/izmenaBioskopa/{bioskop}(bioskop=${bioskop.getBioskopId()})}">Izmeni</a>
                </td>
                <td style="border: 1px solid black!important; text-align: center; vertical-align: middle;">
                    <a style="position: center" class="btn btn-danger" th:href="@{/brisanjeBioskopa/{bioskop}(bioskop=${bioskop.getBioskopId()})}">Obriši</a>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
<footer th:insert="footer"></footer>
</html>