<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:insert="navigacija.html :: headerfiles">
    <meta charset="UTF-8">
    <title>Registracija</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div style="margin: 0px; padding: 0px;">
    <body style="background-color: #cce6ff; font-family: 'Open sans', sans-serif;">
<header th:insert="navigacija.html :: nav"></header>
<div class="header" style="width: 30%; margin: 50px auto 0px;  color: white; background: #4c60af; text-align: center;  border: 1px solid #B0C4DE; border-bottom: none;
border-radius: 10px 10px 0px 0px; padding: 20px; font-family: 'Open Sans', sans-serif;font-size: 120%;">
    <h2>Registrujte se</h2>
</div>
        <form autocomplete="off" th:action="@{/registracija}" th:object="${korisnik}" method="post" align="center"
        style="width: 30%; margin: 0px auto; padding: 20px; border: 1px solid #B0C4DE; background: white; border-radius: 0px 0px 10px 10px;font-family: 'Open Sans', sans-serif;font-size: 120%;">
            <div class="input-group" style="margin: 10px 0px 10px 0px; font-family: 'Open Sans', sans-serif;" >
                <label style="display: block; text-align: left; margin: 3px;">Ime</label><br>
                <input th:field="*{ime}" placeholder="Ime" class="form-control" required
                       oninvalid="this.setCustomValidity('Ovo polje je obavezno')"
                       oninput="this.setCustomValidity('')" onautocomplete="this.setCustomValidity('')"
                       onchange="this.setCustomValidity('')" style="height: 30px; width: 93%; padding: 5px 10px; font-size: 16px; border-radius: 5px; border: 1px solid gray; font-family: 'Open Sans', sans-serif;">
            </div>
            <div class="input-group" style="margin: 10px 0px 10px 0px; font-family: 'Open Sans', sans-serif;">
                <label style="display: block; text-align: left; margin: 3px; font-family: 'Open Sans', sans-serif;">Prezime</label><br>
                <input th:field="*{prezime}" placeholder="Prezime" class="form-control" required
                       oninvalid="this.setCustomValidity('Ovo polje je obavezno')"
                       oninput="this.setCustomValidity('')" onautocomplete="this.setCustomValidity('')"
                       onchange="this.setCustomValidity('')" style="height: 30px; width: 93%; padding: 5px 10px; font-size: 16px; border-radius: 5px; border: 1px solid gray; font-family: 'Open Sans', sans-serif;">
            </div>
            <div class="input-group" style="margin: 10px 0px 10px 0px; font-family: 'Open Sans', sans-serif;">
                <label style="display: block; text-align: left; margin: 3px; font-family: 'Open Sans', sans-serif;">Email</label><br>
                <input type="text" th:field="*{email}" placeholder="example@mail.com" class="form-control" required
                       oninvalid="this.setCustomValidity('Ovo polje je obavezno')"
                       oninput="this.setCustomValidity('')" onautocomplete="this.setCustomValidity('')"
                       onchange="this.setCustomValidity('')" style="height: 30px; width: 93%; padding: 5px 10px; font-size: 16px; border-radius: 5px; border: 1px solid gray; font-family: 'Open Sans', sans-serif;">
            </div>
            <div class="input-group" style="margin: 10px 0px 10px 0px; font-family: 'Open Sans', sans-serif;">
                <label style="display: block; text-align: left; margin: 3px; font-family: 'Open Sans', sans-serif;">Šifra</label><br>
                <input type="password" th:field="*{sifra}" placeholder="Šifra" class="form-control" required
                       oninvalid="this.setCustomValidity('Ovo polje je obavezno')"
                       oninput="this.setCustomValidity('')" onautocomplete="this.setCustomValidity('')"
                       onchange="this.setCustomValidity('')" style="height: 30px; width: 93%; padding: 5px 10px; font-size: 16px; border-radius: 5px; border: 1px solid gray; font-family: 'Open Sans', sans-serif;">
            </div>
            <input type="hidden" th:field="*{tipKorisnika}" th:value="${korisnik.setTipKorisnika('KORISNIK')}">
            <input type="hidden" th:field="*{poeni}" th:value="${korisnik.setPoeni(0)}">
            <input type="hidden" th:field="*{clanKluba}" th:value="${korisnik.setClanKluba(false)}">
            <div>
                <div class="input-group" style="margin: 10px 0px 10px 0px; font-family: 'Open Sans', sans-serif;">
                    <input type="submit" class="btn" value="Registrujte se" style="padding: 10px; font-size: 15px; color: white; background: #4c60af; border: none; border-radius: 5px; margin-left: 205px; font-family: 'Open Sans', sans-serif;">
                </div>
                <span th:utext="${poruka}">
                <div class="alert alert-success alert-dismissible col-sm-12"
                     th:if="${(bindingResult!=null && bindingResult.getAllErrors() != null)}">
                    <ul th:each="data : ${bindingResult.getAllErrors()}">
                        <li th:text="${data.getObjectName() + ' :: ' + data.getDefaultMessage()}">
                        </li>
                    </ul>
                </div>
                </span>
            </div>
        </form>
</body>
</div>
<footer class="fixed-bottom" th:insert="footer"></footer>
</html>